<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_key</key>
	<string>wxEJCq6c3gC3sPXTHPhmte0QWx19leBQQUfQgft6</string>
	<key>application_id</key>
	<string>ojCJL7HHim3lEGullqukuxPReH4UO12sAnTFJ4om</string>
</dict>
</plist>
